<div class="container utilities-list">
    <div class="row">
        <div class="info-group">
            <h1 class="title-group-home">
                <a href="javascript:void(0)" alt="Tiện ích">VỀ CHÚNG TÔI</a>
            </h1>
        </div>
        <div class="col-sm-6">
            <div class="intro-text pt-5" style="font-size: 20px;">
                <p>Thành lập năm 2009</p>
                <p>Chuyên môn: POS, CRM/Loyalty, SCM(Supply chain management)</p>
                <p>Tư vấn triến khai giải pháp Công Nghệ Thông Tin cho doanh nghiệp gồm số hóa và chuyển đổi số </p>
            </div>

        </div>
        <div class="col-sm-6">
            <img src="/images/P2P LOGO.png" width="600" height="400" />
        </div>
    </div>
</div>

@code {

}
