<style>
    footer > .container > .row > div:last-child {
        margin-top: 0px;
    }
</style>

<footer id="footer" class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="info-company">
                        <h3>CÔNG TY TNHH TIN HỌC ỨNG DỤNG SAO MAI</h3>
                        <p>
                            <img src="/images/location-icon.png"><span>9-11 D52, Phường 12, Quận Tân Bình, Hồ Chí Minh</span>
                        </p><p>
                            <img src="/images/phone-icon.png"><span>(028) 38111479</span>
                        </p><p>
                            <img src="/images/mail-icon.png"><a href="mailto:info@ms-apptech.com">info@ms-apptech.com</a>
                        </p>
                    </div>
                </div>
                @*<div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.506201236267!2d106.7209263628661!3d10.77248822323622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fcdd2041771%3A0xa46e9842e044baf4!2sSOFIC%20Tower!5e0!3m2!1svi!2s!4v1652782771710!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>*@
            </div>
            @*<div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="link-footer">
                                <li><a>Thông tin</a></li>
                                <li><a href="javascript:void(0)">Trang chủ</a></li>
                                <li><a href="javascript:void(0)" alt="Giới thiệu">Giới thiệu</a></li>
                                <li><a href="javascript:void(0)" alt="Khuyến mãi">Khuyến mãi</a></li>
                                <li><a href="javascript:void(0)" alt="Tin tức &amp; Sự kiện">Tin tức &amp; Sự kiện</a></li>
                                <li><a href="javascript:void(0)" alt="Thương hiệu">Thương hiệu</a></li>
                                <li><a href="javascript:void(0)" alt="Thành viên">Thành viên</a></li>
                                <li><a href="javascript:void(0)" alt="Sơ đồ tầng">Sơ đồ tầng</a></li>
                                <li><a href="javascript:void(0)" alt="Tiện ích">Tiện ích</a></li>
                                <li><a href="javascript:void(0)" alt="Liên hệ">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="link-footer">
                                <li><a href="javascript:void(0)" alt="Thương hiệu">Thương hiệu</a></li>
                                <li><a href="javascript:void(0)" alt="Ẩm thực">Ẩm thực</a></li>
                                <li><a href="javascript:void(0)" alt="Điện máy">Điện máy</a></li>
                                <li><a href="javascript:void(0)" alt="Chăn gối nệm &amp; Nội thất">Chăn gối nệm &amp; Nội thất</a></li>
                                <li><a href="javascript:void(0)" alt="Giáo dục">Giáo dục</a></li>
                                <li><a href="javascript:void(0)" alt="Mỹ phẩm &amp; Nước hoa">Mỹ phẩm &amp; Nước hoa</a></li>
                                <li><a href="javascript:void(0)" alt="Thời trang &amp; Phụ kiện">Thời trang &amp; Phụ kiện</a></li>
                                <li><a href="javascript:void(0)" alt="Khác">Khác</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="link-footer">
                                <li><a></a></li>
                                <li><a href="javascript:void(0)" alt="Cửa hàng tiện ích">Cửa hàng tiện ích</a></li>
                                <li><a href="javascript:void(0)" alt="Gia dụng">Gia dụng</a></li>
                                <li><a href="javascript:void(0)" alt="Giải trí">Giải trí</a></li>
                                <li><a href="javascript:void(0)" alt="Làm đẹp &amp; sức khỏe">Làm đẹp &amp; sức khỏe</a></li>
                                <li><a href="javascript:void(0)" alt="Siêu thị">Siêu thị</a></li>
                                <li><a href="javascript:void(0)" alt="Thể thao">Thể thao</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 download-app">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div>
                                        <p>TẢI NGAY</p>
                                        <p>APP THISO Mall</p><p>Tích điểm - đổi quà</p><p>Nhận muôn vàn ưu đãi!</p>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="app">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="~/images/app/IOS-QRC.png"><a href="javascript:void(0)"> <img src="~/images/app/app-store.png" /></a>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/images/app/Android.png"><a href="javascript:void(0)"><img src="~/images/app/google-play.png"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    @* <p class="copy-right">© Bản quyền 2022 của Công ty Cổ phần Đầu tư Thương mại Dịch vụ THISO Mall Việt Nam</p>*@
</footer>

<style>
    #footer {
        height: 400px;
    }
</style>