<header>
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    @*<img src="/images/logo.png" alt="GIGAMALL">*@
                    <img src="/images/msa-logo.png" />
                </a>
            </div>
            <div class="header-right">
                <div class="info-gigamall-header">
                    <h2>CÔNG TY TIN HỌC ỨNG DỤNG SAO MAI</h2>
                    <p>Email: info@ms-apptech.com</p>
                    @*<p>Website: www.ms-apptech.com</p>*@
                    <p>Điện thoại: (028) 38111479</p>
                    <p>9-11 D52, Phường 12,&nbsp;Quận Tân Bình, TP.HCM</p>
                </div>
                <div class="menu">
                    <div id="cssmenu">
                        <ul>
                            <li class="active">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li>
                                <a href="Tutorial" alt="Chia sẻ kiến thức">Chia sẻ kiến thức</a>
                            </li>
                            @*<li>
                                    <a href="javascript:void(0)" onclick="document.getElementById('project').scrollIntoView({behavior:'smooth'})" alt="Dự án">Dự án</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" onclick="document.getElementById('customer').scrollIntoView({behavior:'smooth'})" alt="Khách hàng">Khách hàng</a>
                                </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
@code {

}
<style>
    .header-right {
        width: 85%;
    }

    .menu {
        width: 100%;
    }


    @@media (max-width: 576px) {
        .title-group-home {
            padding: 20px 0 !important;
        }

        .logo a img {
            width: 80px !important;
            height: 80px !important;
        }
    }
</style>