<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <p style="margin: 0;">
                        <img src="~/images/logo-footer.png" alt="GIGAMALL">
                    </p>
                    <div class="info-company">
                        <h3>TRUNG TÂM THƯƠNG MẠI GIGAMALL</h3>
                        <p>
                            <img src="~/images/location-icon.png"><span>240-242 Phạm Văn Đồng, P. Hiệp Bình Chánh, Q. Thủ Đức, Tp.HCM</span>
                        </p><p><img src="~/images/phone-icon.png"><span>(028) 7100 3839 | 7109 3839</span></p><p><img src="~/images/mail-icon.png"><a href="mailto:dvkh@gigamall.com.vn">dvkh@gigamall.com.vn</a></p><div class="operatyon-time">
                            <p><strong>Thời gian hoạt động</strong></p>
                            <p>Thứ Hai - Thứ Sáu&nbsp;| 9:30 - 22:00</p>
                            <p>Thứ Bảy &amp; Chủ Nhật | 9:00 - 22:00</p>
                        </div><div class="social">
                            <p>
                                <a href="https://www.facebook.com/gigamallvietnam/" target="_blank"><img src="~/images/social-f.png" alt=""></a><a href="https://www.instagram.com/gigamall_vietnam/" target="_blank"><img src="~/images/social-intagram.png" alt=""></a><a href="https://www.youtube.com/channel/UCfO8mX8z8GrP1SQIzzt2o_A?view_as=subscriber" target="_blank"><img src="~/images/social-youtube.png" alt=""></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.781420981458!2d106.71968241474188!3d10.828032492286589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752910b8ffbc9b%3A0xc26e001301184576!2zVFRUTSBHaWdhIG1hbGwgUGjhuqFtIFbEg24gxJDhu5NuZyAtIFRo4bunIMSQ4bupYyAoIFNpw6p1IHRo4buLIFNlbnNlIENpdHkgdnMgQ28ub3B4dHJhICk!5e0!3m2!1sen!2sus!4v1564645858014!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="link-footer">
                            <li><a>Thông tin</a></li>
                            <li><a href="/vn/">Trang chủ</a></li>
                            <li><a href="/vn/gioi-thieu/" alt="Giới thiệu">Giới thiệu</a></li>
                            <li><a href="/vn/khuyen-mai/" alt="Khuyến mãi">Khuyến mãi</a></li>
                            <li><a href="/vn/tin-tuc-su-kien/" alt="Tin tức &amp; Sự kiện">Tin tức &amp; Sự kiện</a></li>
                            <li><a href="/vn/thuong-hieu/" alt="Thương hiệu">Thương hiệu</a></li>
                            <li><a href="/vn/thanh-vien/" alt="Thành viên">Thành viên</a></li>
                            <li><a href="/vn/so-do-tang/" alt="Sơ đồ tầng">Sơ đồ tầng</a></li>
                            <li><a href="/vn/tien-ich/" alt="Tiện ích">Tiện ích</a></li>
                            <li><a href="/vn/lien-he/" alt="Liên hệ">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="link-footer">
                            <li><a href="/vn/thuong-hieu/" alt="Thương hiệu">Thương hiệu</a></li>
                            <li><a href="/vn/am-thuc/" alt="Ẩm thực">Ẩm thực</a></li>
                            <li><a href="/vn/dien-may/" alt="Điện máy">Điện máy</a></li>
                            <li><a href="/vn/chan-goi-nem-noi-that/" alt="Chăn gối nệm &amp; Nội thất">Chăn gối nệm &amp; Nội thất</a></li>
                            <li><a href="/vn/giao-duc/" alt="Giáo dục">Giáo dục</a></li>
                            <li><a href="/vn/my-pham-nuoc-hoa/" alt="Mỹ phẩm &amp; Nước hoa">Mỹ phẩm &amp; Nước hoa</a></li>
                            <li><a href="/vn/thoi-trang-phu-kien/" alt="Thời trang &amp; Phụ kiện">Thời trang &amp; Phụ kiện</a></li>
                            <li><a href="/vn/khac/" alt="Khác">Khác</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="link-footer">
                            <li><a></a></li>
                            <li><a href="/vn/cua-hang-tien-ich/" alt="Cửa hàng tiện ích">Cửa hàng tiện ích</a></li>
                            <li><a href="/vn/gia-dung/" alt="Gia dụng">Gia dụng</a></li>
                            <li><a href="/vn/giai-tri/" alt="Giải trí">Giải trí</a></li>
                            <li><a href="/vn/lam-dep-suc-khoe/" alt="Làm đẹp &amp; sức khỏe">Làm đẹp &amp; sức khỏe</a></li>
                            <li><a href="/vn/sieu-thi/" alt="Siêu thị">Siêu thị</a></li>
                            <li><a href="/vn/the-thao/" alt="Thể thao">Thể thao</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 download-app">
                        <div class="row">
                            <div class="col-sm-4">
                                <div>
                                    <p>TẢI NGAY</p>
                                    <p>APP GIGAMALL</p><p>Tích điểm - đổi quà</p><p>Nhận muôn vàn ưu đãi!</p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="app">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="~/images/app/IOS-QRC.png"><a href="https://itunes.apple.com/us/app/gigamall-vietnam/id1448013961?ls=1&amp;mt=8" target="_blank"><img src="~/images/app/app-store.png"></a>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="~/images/app/Android.png"><a href="https://play.google.com/store/apps/details?id=com.ms_apptech.gigamall" target="_blank"><img src="~/images/app/google-play.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="copy-right">© Bản quyền 2022 của Công ty Cổ phần Đầu tư Thương mại Dịch vụ Gigamall Việt Nam</p>
</footer>