<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gigamall</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <link rel="icon" href="/images/logo.png" />


    <meta name="description" content="Trung t&#226;m Thương mại (TTTM) Gigamall 240-242 Phạm Văn Đồng, quận Thủ Đức tọa lạc tại vị tr&#237; chiến lược tr&#234;n trục đường ch&#237;nh của Tp. Hồ Ch&#237; Minh. TTTM Gigamall gồm 7 tầng nổi v&#224; 2 tầng hầm với đa dạng c&#225;c ng&#224;nh h&#224;ng như thời trang, phụ kiện, gia dụng, ẩm thực, giải tr&#237;… v&#224; dịch vụ văn ph&#242;ng cho thu&#234;. Đ&#226;y l&#224; TTTM đầu ti&#234;n c&#243; d&#224;n đ&#232;n LED Di.Crystal v&#224; s&#224;n tương t&#225;c LED tại Việt Nam. Khu giải tr&#237; JP World tại tầng L6 mang đến cho kh&#225;ch h&#224;ng nhiều trải nghiệm giải tr&#237; c&#244;ng nghệ tương t&#225;c đỉnh cao.">
    <meta name="keywords" content="">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GIGAMALL" />
    <meta property="og:url" content="http://gigamall.com.vn/vn/index.html" />
    <meta property="og:image" content="http://gigamall.com.vn/images/logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="263" />
    <meta property="og:description" content="Trung t&#226;m Thương mại (TTTM) Gigamall 240-242 Phạm Văn Đồng, quận Thủ Đức tọa lạc tại vị tr&#237; chiến lược tr&#234;n trục đường ch&#237;nh của Tp. Hồ Ch&#237; Minh. TTTM Gigamall gồm 7 tầng nổi v&#224; 2 tầng hầm với đa dạng c&#225;c ng&#224;nh h&#224;ng như thời trang, phụ kiện, gia dụng, ẩm thực, giải tr&#237;… v&#224; dịch vụ văn ph&#242;ng cho thu&#234;. Đ&#226;y l&#224; TTTM đầu ti&#234;n c&#243; d&#224;n đ&#232;n LED Di.Crystal v&#224; s&#224;n tương t&#225;c LED tại Việt Nam. Khu giải tr&#237; JP World tại tầng L6 mang đến cho kh&#225;ch h&#224;ng nhiều trải nghiệm giải tr&#237; c&#244;ng nghệ tương t&#225;c đỉnh cao." />
    <meta property="fb:app_id" content="2151390931782401" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script>if (window.location.protocol != 'https:') { location.href = 'https:' + window.location.href.substring(window.location.protocol.length); }</script>
    <script src="~/js/jquery-2.2.3.min.js" type="text/javascript"></script>



    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/swiper/dist/css/swiper.css" rel="stylesheet" />
    <link href="~/css/w3.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/js/mapplic/mapplic.css" rel="stylesheet" type="text/css" />
    <link href="~/js/mapplic/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script language=JavaScript1.2 src="~/js/default.js" type=text/javascript></script>
    <script language="javascript" src="~/js/xmlhttp.js" type=text/javascript></script>
    <link href="~/js/photoswipe/photoswipe17e2.css" rel="stylesheet" />
    <link href="~/js/photoswipe/default-skin/default-skin17e2.css" rel="stylesheet" />
    <script src="~/js/photoswipe/photoswipe.min17e2.js"></script>
    <script src="~/js/photoswipe/photoswipe-ui-default.min17e2.js"></script>
    @*<link href="~/js/layerslider/layerslider.css" rel="stylesheet" type="text/css" />
        <script src="~/js/layerslider/greensock.js" type="text/javascript"></script>
        <script src="~/js/layerslider/layerslider.transitions.js" type="text/javascript"></script>
        <script src="~/js/layerslider/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>*@
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">var labelsearchmapplic = 'Tìm kiếm'; var labelmoremapplic = '';</script><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1553216-70"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-1553216-70');</script>
    <script charset="UTF-8" src="//cdn.sendpulse.com/js/push/078cc5f4c9a0b57506a96ac2ac5507dc_1.js" async></script>

    <link href="~/css/cssmenu/styles.css" rel="stylesheet" />
    <script src="~/css/cssmenu/script.js"></script>

</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
