@page "/Tutorial"
@code {

}


<div class="container utilities-list">
    <div class="row">
        <div class="info-group">
            <h1 class="title-group-home">
                <a href="javascript:void(0)" alt="Tiện ích">CHIA SẺ KIẾN THỨC</a>
            </h1>
        </div>
    </div>
</div>