
@{
    ViewData["Title"] = "DetailLoginWifi";
    Layout = "~/Views/Shared/_LayoutWifi.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $(".yes-button").click(function () {
            $("#hide").hide();
            $(".show-content").show();
            //return false;

        });
    });
</script>
<style>
    .show-content {
        display: none;
    }
</style>
<div class="container">
    <div class="card center">
        <div class="card-body">
            <div class="card-logo">
                <img src="~/images/THACO/GoldLogoCut.png" />
            </div>
            <div class="card-title">Hãy trở thành thành viên tại THISO Mall để nhận voucher</div>
            <div class="d-flex justify-content-center pb-4" id="hide">
                <button type="button" class="btn btn-warning yes-button hide-content" style="margin-right: 20px">Yes</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Home" )'">No</button>
            </div>

            <div class="container show-content">
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control w-75" placeholder="Họ và tên">
                </div>
                <div class="input-group flex-nowrap">
                    <input type="email" class="form-control w-75" placeholder="Email">
                </div>
                @*<div class="input-group flex-nowrap">
                        <input type="date" class="form-control w-75" placeholder="Ngày sinh">
                    </div>*@
                <div class="d-grid gap-2 promotion">
                    <button class="btn main-button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Nhận voucher</button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @*<div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>*@
                                <div class="modal-body p-0">
                                    <button type="button" class="btn-close" onclick="location.href='@Url.Action("Index", "Home" )'" data-bs-dismiss="modal" aria-label="Close"></button>

                                    <div class="voucher-image">
                                        <img src="~/images/THACO/Promotion.jpg" />
                                    </div>
                                    <div class="voucher-description">
                                        <h3 class="text-center">Special Offer Promotion Off</h3>
                                        <p>Voucher áp dụng tại tất cả cửa hàng</p>
                                        <p>Voucher có giá trị đến ngày 27/5/2022</p>
                                    </div>
                                </div>
                                @*<div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<style>
    body {
        background-color: #898989;
    }

    .center {
        margin: 0 auto;
    }

    .card {
        margin-top: 2rem;
        width: 500px;
        height: 90vh;
        border-radius: 25px;
        background-color: white;
        border: unset;
    }

        .card input {
            height: 50px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .card .main-button {
            margin-top: 20px;
            border-radius: 10px;
            background-color: peru;
            border: unset;
            height: 50px;
            color: white;
            font-weight: 700;
        }

            .card .main-button:hover {
                background-color: #aa7037;
            }

    .card-logo {
        width: 100%;
    }

        .card-logo img {
            width: 100%;
            height: auto;
        }

    .card-title {
        text-align: center;
        font-size: 18px;
        padding: 0 0 20px;
    }

    .voucher-image {
        background-color: white;
        width: 100%;
        height: 350px;
        display: flex;
    }

        .voucher-image img {
            width: 300px;
            height: 300px;
            margin: auto;
        }

    .voucher-description {
        background-color: peru;
        padding: 0;
        min-height: 150px;
        color: white;
    }

        .voucher-description h3 {
            margin: 0;
            padding-top: 10px;
        }

        .voucher-description p {
            margin: 10px 0 0 10px;
        }

        .voucher-description button {
            display: block;
            margin: 0 auto;
        }

    .promotion .btn-close {
        float: right;
    }
</style>

