
@{
    ViewData["Title"] = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Subcribe")
<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="info-group">
                <h1 class="title-group-home">
                    <a href="javascript:void(0)" alt="Tin tức &amp; Sự kiện">Tin tức &amp; Sự kiện</a>
                </h1>
                <div class="list-group">
                    <a class="active" href="javascript:void(0)">Sự kiện</a>
                    <a href="javascript:void(0)">Clip trải nghiệm</a>
                    <a href="javascript:void(0)">Bài viết</a>
                </div>
            </div>
            <div class="group-list col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="MỘT SỰ KIỆN HOÀNH TRÁNG KHÔNG NÊN BỎ LỠ" alt="MỘT SỰ KIỆN HOÀNH TRÁNG KHÔNG NÊN BỎ LỠ">
                                    <div style="background-image: url('/data/2022/04/13/02282634_hatgaolangta900x900.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="MỘT SỰ KIỆN HOÀNH TRÁNG KHÔNG NÊN BỎ LỠ" alt="MỘT SỰ KIỆN HOÀNH TRÁNG KHÔNG NÊN BỎ LỠ">MỘT SỰ KIỆN HOÀNH TRÁNG KHÔNG NÊN BỎ LỠ</a>
                                    </h4>
                                    <div class="des-article-item">16.04.2022</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="CƠ HỘI TRAO TAY - VẬN MAY TRÚNG LỚN" alt="CƠ HỘI TRAO TAY - VẬN MAY TRÚNG LỚN"><div style="background-image: url('/data/2022/04/11/23310518_vqmm.jpg');"></div></a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="CƠ HỘI TRAO TAY - VẬN MAY TRÚNG LỚN" alt="CƠ HỘI TRAO TAY - VẬN MAY TRÚNG LỚN">CƠ HỘI TRAO TAY - VẬN MAY TRÚNG LỚN</a>
                                    </h4>
                                    <div class="des-article-item">08/04 - 01/05/2022</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="TẢI APP GIGA – THẢ GA CHỌN QUÀ" alt="TẢI APP GIGA – THẢ GA CHỌN QUÀ">
                                    <div style="background-image: url('/data/2022/04/11/23290288_taiapp.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="TẢI APP GIGA – THẢ GA CHỌN QUÀ" alt="TẢI APP GIGA – THẢ GA CHỌN QUÀ">TẢI APP – THẢ GA CHỌN QUÀ</a>
                                    </h4><div class="des-article-item">11/04 - 01/05/2022</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="CHÀO HÈ RỘN RÀNG SĂN KHUYẾN MÃI - SALE UP TO 50% CÙNG KOHNAN JAPAN FAIR" alt="CHÀO HÈ RỘN RÀNG SĂN KHUYẾN MÃI - SALE UP TO 50% CÙNG KOHNAN JAPAN FAIR">
                                    <div style="background-image: url('/data/2022/04/04/23520224_27772863029836103185955703557192015859416385n.png');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="CHÀO HÈ RỘN RÀNG SĂN KHUYẾN MÃI - SALE UP TO 50% CÙNG KOHNAN JAPAN FAIR" alt="CHÀO HÈ RỘN RÀNG SĂN KHUYẾN MÃI - SALE UP TO 50% CÙNG KOHNAN JAPAN FAIR"> CHÀO HÈ RỘN RÀNG SĂN KHUYẾN MÃI - SALE UP TO 50% CÙNG KOHNAN JAPAN...</a>
                                    </h4>
                                    <div class="des-article-item">THISO MALL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="TẢI APP NGAY NHẬN QÙA MÊ SAY" alt="TẢI APP NGAY NHẬN QÙA MÊ SAY">
                                    <div style="background-image: url('/data/2022/03/28/01000973_tai-app2.png');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="TẢI APP NGAY NHẬN QÙA MÊ SAY" alt="TẢI APP NGAY NHẬN QÙA MÊ SAY">TẢI APP NGAY NHẬN QÙA MÊ SAY</a>
                                    </h4>
                                    <div class="des-article-item">26/03 - 10/04/2022</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="CÔNG BỐ KẾT QUẢ WORKSHOP 8/3 - ĐẾN GIGAMALL LÀM THIỆP HANDMADE GỬI TẶNG NGƯỜI THƯƠNG" alt="CÔNG BỐ KẾT QUẢ WORKSHOP 8/3 - ĐẾN GIGAMALL LÀM THIỆP HANDMADE GỬI TẶNG NGƯỜI THƯƠNG"><div style="background-image: url('/data/2022/03/15/18584569_cong-bo.png');"></div></a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="CÔNG BỐ KẾT QUẢ WORKSHOP 8/3 - ĐẾN GIGAMALL LÀM THIỆP HANDMADE GỬI TẶNG NGƯỜI THƯƠNG" alt="CÔNG BỐ KẾT QUẢ WORKSHOP 8/3 - ĐẾN GIGAMALL LÀM THIỆP HANDMADE GỬI TẶNG NGƯỜI THƯƠNG"> CÔNG BỐ KẾT QUẢ WORKSHOP 8/3 - ĐẾN THISO MALL LÀM THIỆP HANDMADE GỬI TẶNG NGƯỜI...</a>
                                    </h4>
                                    <div class="des-article-item">15/03/2022</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="CUỘC THI: VIẾT LỜI YÊU THƯƠNG TRAO NGAY QUÀ TẶNG" alt="CUỘC THI: VIẾT LỜI YÊU THƯƠNG TRAO NGAY QUÀ TẶNG">
                                    <div style="background-image: url('/data/2022/03/05/00575428_ee85b246161dd943800c.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="CUỘC THI: VIẾT LỜI YÊU THƯƠNG TRAO NGAY QUÀ TẶNG" alt="CUỘC THI: VIẾT LỜI YÊU THƯƠNG TRAO NGAY QUÀ TẶNG">CUỘC THI: VIẾT LỜI YÊU THƯƠNG TRAO NGAY QUÀ TẶNG</a>
                                    </h4>
                                    <div class="des-article-item">05/03 - 10/03/2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="CHÀO THÁNG 3 TẢI APP NHẬN QUÀ THẢ GA" alt="CHÀO THÁNG 3 TẢI APP GIGA NHẬN QUÀ THẢ GA">
                                    <div style="background-image: url('/data/2022/02/28/00240995_27462308429562280380004657887380037241146119n.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="CHÀO THÁNG 3 TẢI APP GIGA NHẬN QUÀ THẢ GA" alt="CHÀO THÁNG 3 TẢI APP GIGA NHẬN QUÀ THẢ GA">CHÀO THÁNG 3 TẢI APP NHẬN QUÀ THẢ GA</a>
                                    </h4>
                                    <div class="des-article-item">19/02 - 20/03/2022</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="SỰ KIỆN ÂM NHẠC MỪNG SINH NHẬT GIGAMALL “ĐÓN TUỔI MỚI - ĐÓN VẠN DIỆU KỲ" alt="SỰ KIỆN ÂM NHẠC MỪNG SINH NHẬT GIGAMALL “ĐÓN TUỔI MỚI - ĐÓN VẠN DIỆU KỲ">
                                    <div style="background-image: url('/data/2022/02/10/12425083_3582f2aab1a67df824b7.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="SỰ KIỆN ÂM NHẠC MỪNG SINH NHẬT GIGAMALL “ĐÓN TUỔI MỚI - ĐÓN VẠN DIỆU KỲ" alt="SỰ KIỆN ÂM NHẠC MỪNG SINH NHẬT GIGAMALL “ĐÓN TUỔI MỚI - ĐÓN VẠN DIỆU KỲ"> SỰ KIỆN ÂM NHẠC MỪNG SINH NHẬT THISO MALL “ĐÓN TUỔI MỚI - ĐÓN VẠN DIỆU...</a>
                                    </h4>
                                    <div class="des-article-item">12/02/2022</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="MỞ APP CHẠM TAY CÓ NGAY LÌ XÌ" alt="MỞ APP CHẠM TAY CÓ NGAY LÌ XÌ">
                                    <div style="background-image: url('/data/2022/01/31/23025109_27302640329409712928594732092971007594744025n.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="MỞ APP CHẠM TAY CÓ NGAY LÌ XÌ" alt="MỞ APP CHẠM TAY CÓ NGAY LÌ XÌ">MỞ APP CHẠM TAY CÓ NGAY LÌ XÌ</a>
                                    </h4>
                                    <div class="des-article-item">THISO MALL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="LỊCH HOẠT ĐỘNG TẾT NHÂM DẦN 2022 - TRUNG TÂM THƯƠNG MẠI GIGAMALL" alt="LỊCH HOẠT ĐỘNG TẾT NHÂM DẦN 2022 - TRUNG TÂM THƯƠNG MẠI GIGAMALL">
                                    <div style="background-image: url('/data/2022/01/25/11552070_4873f600ca8307dd5e92.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="LỊCH HOẠT ĐỘNG TẾT NHÂM DẦN 2022 - TRUNG TÂM THƯƠNG MẠI GIGAMALL" alt="LỊCH HOẠT ĐỘNG TẾT NHÂM DẦN 2022 - TRUNG TÂM THƯƠNG MẠI GIGAMALL">LỊCH HOẠT ĐỘNG TẾT NHÂM DẦN 2022 - TRUNG TÂM THƯƠNG MẠI THISO MALL</a>
                                    </h4>
                                    <div class="des-article-item">THISO MALL</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="CHƯƠNG TRÌNH BỐC THĂM TRÚNG THƯỞNG MỪNG SINH NHẬT VUI - CÙNG KHUI QUÀ KHỦNG" alt="CHƯƠNG TRÌNH BỐC THĂM TRÚNG THƯỞNG MỪNG SINH NHẬT VUI - CÙNG KHUI QUÀ KHỦNG">
                                    <div style="background-image: url('/data/2022/02/28/00240995_27462308429562280380004657887380037241146119n.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="CHƯƠNG TRÌNH BỐC THĂM TRÚNG THƯỞNG MỪNG SINH NHẬT VUI - CÙNG KHUI QUÀ KHỦNG" alt="CHƯƠNG TRÌNH BỐC THĂM TRÚNG THƯỞNG MỪNG SINH NHẬT VUI - CÙNG KHUI QUÀ KHỦNG">CHƯƠNG TRÌNH BỐC THĂM TRÚNG THƯỞNG MỪNG SINH NHẬT VUI - CÙNG KHUI QUÀ KHỦNG</a>
                                    </h4>
                                    <div class="des-article-item">12/01 - 12/02/2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:table;width:100%;">
                <div id="paging">
                    <a class="back" href="javascript:void(0)">
                        <img src="/images/swiper-button-left.png" alt="GIGAMALL">
                    </a>
                    <span class="pselected">
                        <span class="ipage-rr">1</span>
                    </span>
                    <a href="javascript:void(0)">
                        <span class="ipage-r">2</span>
                    </a>
                    <a href="javascript:void(0)">
                        <span class="ipage-r">3</span>
                    </a>
                    <a href="javascript:void(0)">
                        <span class="ipage-r">4</span>
                    </a><a href="javascript:void(0)">
                        <span class="ipage-r">5</span>
                    </a><a href="javascript:void(0)">
                        <span class="ipage-r">6</span>
                    </a>
                    <a href="javascript:void(0)">
                        <span class="ipage-r">7</span>
                    </a>
                    <div class="pagemore">...</div>
                    <a class="next" href="javascript:void(0)">
                        <img src="/images/swiper-button-right.png" alt="GIGAMALL">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
