
@{
    ViewData["Title"] = "Promotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Subcribe")
<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="info-group">
                <h1 class="title-group-home">
                    <a href="javascript:void(0)" alt="Khuyến mãi">Khuyến mãi</a>
                </h1>
            </div>
            <div class="group-list col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="MỪNG NGÀY GIẢI PHÓNG - HÓNG CHECK-IN NƠI XA" alt="MỪNG NGÀY GIẢI PHÓNG - HÓNG CHECK-IN NƠI XA">
                                    <div style="background-image: url('/data/2022/04/25/02193894_boo1.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="BOO" alt="MỪNG NGÀY GIẢI PHÓNG - HÓNG CHECK-IN NƠI XA">BOO</a>
                                    </h4>
                                    <div class="des-article-item">L2</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="Ở đây có bán áo thun chỉ 19k - MỪNG ĐẠI LỄ" alt="Ở đây có bán áo thun chỉ 19k - MỪNG ĐẠI LỄ">
                                    <div style="background-image: url('/data/2022/04/25/02185048_gumac1.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="GUMAC" alt="Ở đây có bán áo thun chỉ 19k - MỪNG ĐẠI LỄ">GUMAC</a>
                                    </h4>
                                    <div class="des-article-item">L2-09-07</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="MỪNG ĐẠI LỄ - SALE VÔ KỂ" alt="MỪNG ĐẠI LỄ - SALE VÔ KỂ">
                                    <div style="background-image: url('/data/2022/04/25/02162576_kohnan12.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="KOHNAN JAPAN" alt="MỪNG ĐẠI LỄ - SALE VÔ KỂ">KOHNAN JAPAN</a>
                                    </h4>
                                    <div class="des-article-item">B1-02</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="𝐒𝐀𝐋𝐄 𝐓𝐔̛𝐍𝐆 𝐁𝐔̛̀𝐍𝐆 𝐌𝐔̛̀𝐍𝐆 Đ𝐀̣𝐈 𝐋𝐄̂̃ 𝟑𝟎/𝟒 - 𝟎𝟏/𝟓 | 𝐒𝐀𝐋𝐄 𝐔𝐏𝐓𝐎 𝟓𝐎%" alt="𝐒𝐀𝐋𝐄 𝐓𝐔̛𝐍𝐆 𝐁𝐔̛̀𝐍𝐆 𝐌𝐔̛̀𝐍𝐆 Đ𝐀̣𝐈 𝐋𝐄̂̃ 𝟑𝟎/𝟒 - 𝟎𝟏/𝟓 | 𝐒𝐀𝐋𝐄 𝐔𝐏𝐓𝐎 𝟓𝐎%">
                                    <div style="background-image: url('/data/2022/04/25/02152348_mat-viet.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="MẮT VIỆT" alt="𝐒𝐀𝐋𝐄 𝐓𝐔̛𝐍𝐆 𝐁𝐔̛̀𝐍𝐆 𝐌𝐔̛̀𝐍𝐆 Đ𝐀̣𝐈 𝐋𝐄̂̃ 𝟑𝟎/𝟒 - 𝟎𝟏/𝟓 | 𝐒𝐀𝐋𝐄 𝐔𝐏𝐓𝐎 𝟓𝐎%">MẮT VIỆT</a>
                                    </h4>
                                    <div class="des-article-item">L1_28</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="ƯU ĐÃI CHÀO MỪNG ĐẠI LỄ 30/4 - 1/5" alt="ƯU ĐÃI CHÀO MỪNG ĐẠI LỄ 30/4 - 1/5">
                                    <div style="background-image: url('/data/2022/04/25/02141394_minigood2.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="MINIGOOD" alt="ƯU ĐÃI CHÀO MỪNG ĐẠI LỄ 30/4 - 1/5">MINIGOOD</a>
                                    </h4>
                                    <div class="des-article-item">B1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="Tạm biệt làn da khô sạm hậu covid chỉ từ 400k" alt="Tạm biệt làn da khô sạm hậu covid chỉ từ 400k">
                                    <div style="background-image: url('/data/2022/04/25/02131677_nitipon.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="NITIPON CLINIC" alt="Tạm biệt làn da khô sạm hậu covid chỉ từ 400k">NITIPON CLINIC</a>
                                    </h4>
                                    <div class="des-article-item">L4-08C</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="TƯNG BỪNG ĐÓN HÈ CÙNG ONWAYS SUMMER SALE 2022" alt="TƯNG BỪNG ĐÓN HÈ CÙNG ONWAYS SUMMER SALE 2022">
                                    <div style="background-image: url('/data/2022/04/25/02121953_onsway1.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="TƯNG BỪNG ĐÓN HÈ CÙNG ONWAYS SUMMER SALE 2022" alt="TƯNG BỪNG ĐÓN HÈ CÙNG ONWAYS SUMMER SALE 2022">TƯNG BỪNG ĐÓN HÈ CÙNG ONWAYS SUMMER SALE 2022</a>
                                    </h4>
                                    <div class="des-article-item">THISO MALL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="FLASH SALE GIỜ ĂN TRƯA MƯA KHUYẾN MÃI ƯU ĐÃI LÊN ĐẾN 50%" alt="FLASH SALE GIỜ ĂN TRƯA MƯA KHUYẾN MÃI ƯU ĐÃI LÊN ĐẾN 50%">
                                    <div style="background-image: url('/data/2022/04/13/02340088_guardian.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="GUARDIAN" alt="FLASH SALE GIỜ ĂN TRƯA MƯA KHUYẾN MÃI ƯU ĐÃI LÊN ĐẾN 50%">GUARDIAN</a>
                                    </h4>
                                    <div class="des-article-item">L1-19</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="THÁNG 4 LÀ LỜI NÓI THẬT CỦA AKEMI" alt="THÁNG 4 LÀ LỜI NÓI THẬT CỦA AKEMI">
                                    <div style="background-image: url('/data/2022/04/11/23420709_akemi.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="THÁNG 4 LÀ LỜI NÓI THẬT CỦA AKEMI" alt="THÁNG 4 LÀ LỜI NÓI THẬT CỦA AKEMI">THÁNG 4 LÀ LỜI NÓI THẬT CỦA AKEMI</a>
                                    </h4>
                                    <div class="des-article-item">THISO MALL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="BEAUTY DAY - SIÊU HỘI LÀM ĐẸP" alt="BEAUTY DAY - SIÊU HỘI LÀM ĐẸP">
                                    <div style="background-image: url('/data/2022/04/11/23404641_thefaceshop.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="THEFACESHOP" alt="BEAUTY DAY - SIÊU HỘI LÀM ĐẸP">THEFACESHOP</a>
                                    </h4>
                                    <div class="des-article-item">L1-26A</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="[SUPER FAN DAY] FAN 3CE KHÔNG THỂ BỎ LỠ ƯU ĐÃI NÀY" alt="[SUPER FAN DAY] FAN 3CE KHÔNG THỂ BỎ LỠ ƯU ĐÃI NÀY">
                                    <div style="background-image: url('/data/2022/04/11/23391518_beatybo.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="[SUPER FAN DAY] FAN 3CE KHÔNG THỂ BỎ LỠ ƯU ĐÃI NÀY" alt="[SUPER FAN DAY] FAN 3CE KHÔNG THỂ BỎ LỠ ƯU ĐÃI NÀY">[SUPER FAN DAY] FAN 3CE KHÔNG THỂ BỎ LỠ ƯU ĐÃI NÀY</a>
                                    </h4>
                                    <div class="des-article-item">THISO MALL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="article-item">
                            <div class="bg-article-item">
                                <a href="javascript:void(0)" title="SINH NHẬT THE PIZZA COMPANY 9 TUỔI - ƯU ĐÃI QUÀ TẶNG ĐỈNH NHẤT" alt="SINH NHẬT THE PIZZA COMPANY 9 TUỔI - ƯU ĐÃI QUÀ TẶNG ĐỈNH NHẤT">
                                    <div style="background-image: url('/data/2022/04/11/23351113_pizza-company.jpg');"></div>
                                </a>
                            </div>
                            <div class="info-article-item">
                                <div>
                                    <h4>
                                        <a href="javascript:void(0)" title="THE PIZZA COMPANY" alt="SINH NHẬT THE PIZZA COMPANY 9 TUỔI - ƯU ĐÃI QUÀ TẶNG ĐỈNH NHẤT">THE PIZZA COMPANY</a>
                                    </h4>
                                    <div class="des-article-item">L3-03</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:table;width:100%;">
                <div id="paging">
                    <a class="back" href="javascript:void(0)">
                        <img src="/images/swiper-button-left.png" alt="GIGAMALL">
                    </a>
                    <span class="pselected">
                        <span class="ipage-rr">1</span>
                    </span>
                    <a href="javascript:void(0)"><span class="ipage-r">2</span></a>
                    <a href="javascript:void(0)"><span class="ipage-r">3</span></a>
                    <a href="javascript:void(0)"><span class="ipage-r">4</span></a>
                    <a href="javascript:void(0)"><span class="ipage-r">5</span></a>
                    <a href="javascript:void(0)"><span class="ipage-r">6</span></a>
                    <a href="javascript:void(0)"><span class="ipage-r">7</span></a>
                    <div class="pagemore">...</div><a class="next" href="javascript:void(0)"><img src="/images/swiper-button-right.png" alt="GIGAMALL"></a>
                </div>
            </div>
        </div>
    </div>
</section>

