
@{
    ViewData["Title"] = "Utilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container utilities-list">
    <div class="row">
        <div class="info-group">
            <h1 class="title-group-home">
                <a href="/vn/tien-ich/" alt="Tiện ích">Tiện ích</a>
            </h1>
        </div>
        <div class="col-sm-6">
            <div class="article-item-utilities">
                <a title="MIỄN PHÍ DỊCH VỤ SẠC ĐIỆN THOẠI" alt="MIỄN PHÍ DỊCH VỤ SẠC ĐIỆN THOẠI">
                    <div class="bg-article-item-utilities">
                        <div style="background-image: url('/data/2019/08/10/12362512_img-tien-ich-1.jpg');"></div>
                    </div>
                </a>
                <div class="info-article-item-utilities">
                    <h4>
                        <a title="MIỄN PHÍ DỊCH VỤ SẠC ĐIỆN THOẠI" alt="MIỄN PHÍ DỊCH VỤ SẠC ĐIỆN THOẠI">MIỄN PHÍ DỊCH VỤ SẠC ĐIỆN THOẠI</a>
                    </h4>
                    <div class="des-article-item-utilities">
                        <p>
                            <span>Khách hàng được hỗ trợ sạc di động hoàn toàn miễn phí trong thời gian mua sắm tại TTTM GIGAMALL. Xin vui lòng liên hệ Quầy Dịch Vụ Khách Hàng tại tầng 01.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="article-item-utilities">
                <a title="MIỄN PHÍ DỊCH VỤ XE ĐẨY EM BÉ &amp; XE LĂN" alt="MIỄN PHÍ DỊCH VỤ XE ĐẨY EM BÉ &amp; XE LĂN">
                    <div class="bg-article-item-utilities">
                        <div style="background-image: url('/data/2019/08/10/12393285_img-tien-ich-2.jpg');"></div>
                    </div>
                </a>
                <div class="info-article-item-utilities">
                    <h4>
                        <a title="MIỄN PHÍ DỊCH VỤ XE ĐẨY EM BÉ &amp; XE LĂN" alt="MIỄN PHÍ DỊCH VỤ XE ĐẨY EM BÉ &amp; XE LĂN">MIỄN PHÍ DỊCH VỤ XE ĐẨY EM BÉ &amp; XE LĂN</a>
                    </h4>
                    <div class="des-article-item-utilities">
                        <p>
                            <span>Nhằm mang lại sự thỏa mái trong thời gian mua sắm tại TTTM GIGAMALL, chúng tôi có sẵn Dịch Vụ Xe Đẩy Em Bé và Xe Lăn miễn phí để hỗ trợ cho Quý khách. Xin vui lòng liên hệ Quầy Dịch Vụ Khách Hàng tại tầng 01.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="article-item-utilities">
                <a title="MIỄN PHÍ WIFI" alt="MIỄN PHÍ WIFI">
                    <div class="bg-article-item-utilities">
                        <div style="background-image: url('/data/2019/08/10/12410642_img-tien-ich-3.jpg');"></div>
                    </div>
                </a>
                <div class="info-article-item-utilities">
                    <h4>
                        <a title="MIỄN PHÍ WIFI" alt="MIỄN PHÍ WIFI">MIỄN PHÍ WIFI</a>
                    </h4>
                    <div class="des-article-item-utilities">
                        <p>
                            <span>Khách hàng có thể truy cập Wifi miễn phí tại tất cả các khu vực công cộng trong TTTM Gigamall.&nbsp;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="article-item-utilities">
                <a title="MÁY RÚT TIỀN ATM" alt="MÁY RÚT TIỀN ATM">
                    <div class="bg-article-item-utilities">
                        <div style="background-image: url('/data/2019/08/10/12422651_img-tien-ich-4.jpg');"></div>
                    </div>
                </a>
                <div class="info-article-item-utilities">
                    <h4>
                        <a title="MÁY RÚT TIỀN ATM" alt="MÁY RÚT TIỀN ATM">MÁY RÚT TIỀN ATM</a>
                    </h4>
                    <div class="des-article-item-utilities">
                        <p>Nhằm mang lại thuận tiện cho khách hàng trong việc rút tiền mặt, chúng tôi có máy ATM của các Ngân hàng tại tầng 01 như:&nbsp;Vietcombank, HD Bank, Sacombank &amp; VietinBank.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="article-item-utilities">
                <a title="DỊCH VỤ HỖ TRỢ TÌM ĐỒ THẤT LẠC" alt="DỊCH VỤ HỖ TRỢ TÌM ĐỒ THẤT LẠC">
                    <div class="bg-article-item-utilities">
                        <div style="background-image: url('/data/2019/08/10/12440272_img-tien-ich-5.jpg');"></div>
                    </div>
                </a>
                <div class="info-article-item-utilities">
                    <h4>
                        <a title="DỊCH VỤ HỖ TRỢ TÌM ĐỒ THẤT LẠC" alt="DỊCH VỤ HỖ TRỢ TÌM ĐỒ THẤT LẠC">DỊCH VỤ HỖ TRỢ TÌM ĐỒ THẤT LẠC</a>
                    </h4>
                    <div class="des-article-item-utilities">
                        <p>
                            <span>Nếu Quý khách không may bị thất lạc đồ đạc của mình, vui lòng liên hệ nhân viên Quầy Dịch Vụ Khách Hàng tại tầng 01 để được hỗ trợ. Các đồ đạc thất lạc sẽ được giữ trong vòng 03 tháng, và sẽ được bàn giao cho công an nếu không có người nhận sau 03 tháng.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="article-item-utilities">
                <a title="KHAI BÁO Y TẾ" alt="KHAI BÁO Y TẾ">
                    <div class="bg-article-item-utilities">
                        <div style="background-image: url('/data/2021/04/01/16260122_z2411110264568_da9f92eb1ec7da30342f61d3b15d3ec0.jpg');"></div>
                    </div>
                </a>
                <div class="info-article-item-utilities">
                    <h4>
                        <a title="KHAI BÁO Y TẾ" alt="KHAI BÁO Y TẾ">KHAI BÁO Y TẾ</a>
                    </h4>
                    <div class="des-article-item-utilities">
                        <p>ỨNG DỤNG KHAI BÁO Y TẾ PHÒNG DỊCH CHO TOÀN BỘ NHÂN VIÊN TẠI TTTM GIGAMALL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

